<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="assets/js/index.js"></script> -->
<script>
    $("#add_user").submit(function(event){
    alert("Data Inserted Successfully!");
})
console.log('anil antony');
   $("#update_user").submit(function(event){
      console.log('Geting called')
       event.preventDefault();
       var unindexed_array = $(this).serializeArray();
       var data={}
       console.log(unindexed_array);


       $.map(unindexed_array,function(n,i){
           data[n['name']]=n['value']
       })
       console.log(data);
       var request = {
           'url':`http://localhost:3000/api/users/${data.id}`,
           'method': 'put',
           'data': data
       }
       $.ajax(request).done(function(response){
           alert('Data updated Successfully')
       })
   })


</script>
</body>
</html>